body{
  align-items: center;
  text-align: center;
  margin: 0;
}

.container-fluid{
    margin: 0.8% 3%;
    padding: 0;
    
  } 

.nav-fx{
  padding-right: 200px;
  margin: 0;
}

.nav-link{
  margin-right: 50px;
}

.navbar{
  margin-left: 0;
}


.title-sect{
  margin-top: 20px;
}


